body{
    background-image: url('https://img.freepik.com/fotos-premium/comercio-electronico_890746-30776.jpg?size=626&ext=jpg'); 
  background-repeat: no-repeat; 
  background-size: cover;
}
.navbar{
    background-color: aliceblue;
}

.container{
    margin: 0 auto;
    align-items: center;
}
.card img{
    width: 100% ;
    height: 200px;
}
.container{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.card-group{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    
}
.divTienda{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 17px;
    
}
.card{
    margin: 0 auto;
    
}

.pastimg img{
    width: 90%;
    height: 90%;
}
.contcarrito{
    margin: 0 auto;

}
.col-4 p{
    padding-top: 10px;
}
.col-4 h3{
    padding-left: 10px;
}
.total-content{
    text-align: center;
}

.final p{
    padding-right: 10px;
}
.comprar-btn{
 border-color: rgb(139, 98, 252);
 background-color: rgb(139, 98, 252);
}
.comprar-btn:hover{
    background-color: rgb(126, 103, 190);
    border-color: rgb(126, 103, 190);
}
.compraDef{
    border-color: rgb(139, 98, 252);
 background-color: rgb(139, 98, 252);
}
.compraDef:hover{
    background-color: rgb(126, 103, 190);
    border-color: rgb(126, 103, 190);
}